<!DOCTYPE kpartgui >
<kpartgui version="1" name="krusaderlister" >
 <MenuBar>
  <Menu name="lister" >
   <text>Lister</text>
   <Action name="search" />
   <Action name="search_next" />
   <Action name="search_prev" />
  </Menu>
 </MenuBar>
</kpartgui>
