[Desktop Entry]
Name=Krusader
Name[bg]=Krusader
Name[bs]=Krusader
Name[ca]=Krusader
Name[ca@valencia]=Krusader
Name[cs]=Krusader
Name[da]=Krusader
Name[de]=Krusader
Name[el]=Krusader
Name[en_GB]=Krusader
Name[eo]=Krusader
Name[es]=Krusader
Name[et]=Krusader
Name[fi]=Krusader
Name[fr]=Krusader
Name[gl]=Krusader
Name[hr]=Krusader
Name[hu]=Krusader
Name[it]=Krusader
Name[mr]=क्रुसेडर
Name[nb]=Krusader
Name[nds]=Krusader
Name[nl]=Krusader
Name[pa]=ਕੇ-ਰੁਸਡੇਰ
Name[pl]=Krusader
Name[pt]=Krusader
Name[pt_BR]=Krusader
Name[ro]=Krusader
Name[ru]=Krusader
Name[sk]=Krusader
Name[sl]=Krusader
Name[sr]=Крусејдер
Name[sr@ijekavian]=Крусејдер
Name[sr@ijekavianlatin]=Krusader
Name[sr@latin]=Krusader
Name[sv]=Krusader
Name[tr]=Krusader
Name[ug]=Krusader
Name[uk]=Krusader
Name[x-test]=xxKrusaderxx
Name[zh_CN]=Krusader
Name[zh_TW]=Krusader
Exec=krusader -caption %c %i
Icon=krusader_user
Terminal=false
Type=Application
X-DocPath=krusader/index.html
Categories=FileManager;Utility;Qt;KDE;
Comment=Twin-Panel File Manager
Comment[bg]=Файлов мениджър с два панела
Comment[bs]=Dvostrani menadžer datoteka
Comment[ca]=Gestor de fitxers de doble plafó
Comment[ca@valencia]=Gestor de fitxers de doble plafó
Comment[cs]=Dvoupanelový správce souborů
Comment[da]=Filhåntering med dobbeltpanel
Comment[de]=Dateiverwaltungsprogramm mit einer zweispaltigen Ansicht
Comment[el]=Διαχειριστής αρχείων διπλού πίνακα
Comment[en_GB]=Twin-Panel File Manager
Comment[es]=Panel gemelo de gestor de archivos
Comment[et]=Kahe paneeliga failihaldur
Comment[fi]=Kaksipaneelinen tiedostonhallinta
Comment[fr]=Gestionnaire de fichiers à deux panneaux
Comment[gl]=Xestor de ficheiros de panel dobre.
Comment[hr]=Upravitelj datoteka s dvojnim panelom
Comment[hu]=Kétpaneles fájlkezelő
Comment[it]=Gestore di file a pannello doppio
Comment[mr]=द्वी-पटल फाईल व्यवस्थापक
Comment[nb]=Filbehandler med to paneler
Comment[nds]=Dubbelpaneel-Dateipleger
Comment[nl]=Bestandsbeheerder met twee vensters
Comment[pa]=ਦੋ-ਬਾਹੀ ਫਾਇਲ ਮੈਨੇਜਰ
Comment[pl]=Menadżer plików bliźniaczych paneli
Comment[pt]=Gestor de Ficheiros de Painéis Duplos
Comment[pt_BR]=Gerenciador de arquivos de dois painéis
Comment[ro]=Gestionar de fișiere bi-panou
Comment[ru]=Двухпанельный диспетчер файлов
Comment[sk]=Dvojpanelový správca súborov
Comment[sl]=Upravljalnik datotek z dvema pultoma
Comment[sr]=Двопанелни менаџер фајлова
Comment[sr@ijekavian]=Двопанелни менаџер фајлова
Comment[sr@ijekavianlatin]=Dvopanelni menadžer fajlova
Comment[sr@latin]=Dvopanelni menadžer fajlova
Comment[sv]=Filhanterare med två paneler
Comment[tr]=İkiz Panelli Dosya Yönetici
Comment[ug]=قوش كۆزنەكچىسى بار ھۆججەت باشقۇرغۇ
Comment[uk]=Двопанельний менеджер файлів
Comment[x-test]=xxTwin-Panel File Managerxx
Comment[zh_CN]=双面板文件管理器
Comment[zh_TW]=雙面板檔案管理員
GenericName=File Manager
GenericName[bg]=Файлов мениджър
GenericName[bs]=Menadžer datoteka
GenericName[ca]=Gestor de fitxers
GenericName[ca@valencia]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_GB]=File Manager
GenericName[eo]=Dosieradministrilo
GenericName[es]=Gestor de archivos
GenericName[et]=Failihaldur
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[ga]=Bainisteoir Comhad
GenericName[gl]=Xestor de ficheiros
GenericName[hr]=Upravitelj datoteka
GenericName[hu]=Fájlkezelő
GenericName[it]=Gestore dei file
GenericName[mr]=फाईल व्यवस्थापक
GenericName[nb]=Filbehandler
GenericName[nds]=Dateipleger
GenericName[nl]=Bestandsbeheerder
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menadżer plików
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Gestionar de fișiere
GenericName[ru]=Менеджер файлов
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sr]=Менаџер фајлова
GenericName[sr@ijekavian]=Менаџер фајлова
GenericName[sr@ijekavianlatin]=Menadžer fajlova
GenericName[sr@latin]=Menadžer fajlova
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yönetici
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理員
