[Desktop Entry]
Name=Krusader - root-mode
Name[bg]=Krusader - администраторски режим
Name[ca]=Krusader - mode root
Name[ca@valencia]=Krusader - mode root
Name[cs]=Režim Krusaderu s právy roota
Name[da]=Krusader - root-tilstand
Name[de]=Krusader – Systemverwaltungsmodus (root)
Name[el]=Krusader - λειτουργία-root
Name[en_GB]=Krusader - root-mode
Name[es]=Krusader - Modo Superusuario
Name[et]=Krusader - administraatori õigustes
Name[fi]=Krusader – pääkäyttäjän tila
Name[fr]=Krusader - mode superutilisateur
Name[hr]=Krusader – administratorski način (root-mode)
Name[hu]=Krusader - rendszergazda mód
Name[it]=Krusader - modalità root
Name[nb]=Krusader – root-modus
Name[nds]=Krusader - Systeempleegbedrief
Name[nl]=Krusader - root-mode
Name[pa]=ਕੇ-ਰੁਸਡੇਰ - ਰੂਟ ਅਧਿਕਾਰ
Name[pl]=Krusader - tryb-administratora
Name[pt]=Krusader - modo de 'root'
Name[pt_BR]=Krusader - modo root
Name[ro]=Krusader - regim „root”
Name[ru]=Krusader - режим «root»
Name[sk]=Krusader - režim správcu
Name[sl]=Krusader - Skrbniški način
Name[sr]=Крусејдер — корени режим
Name[sr@ijekavian]=Крусејдер — корени режим
Name[sr@ijekavianlatin]=Krusader — koreni režim
Name[sr@latin]=Krusader — koreni režim
Name[sv]=Krusader - Administratörsläge
Name[tr]=Krusader - yönetici kipi
Name[uk]=Krusader — режим адміністратора
Name[x-test]=xxKrusader - root-modexx
Name[zh_CN]=Krusader - 超级用户模式
Name[zh_TW]=Krusader - root 模式
Exec=krusader -caption "%c" %i
Icon=krusader_root
Terminal=false
Type=Application
Categories=Qt;KDE;System;
OnlyShowIn=KDE;
X-KDE-SubstituteUID=true
X-KDE-Username=root
Comment=Twin-Panel File Manager with root-privileges
Comment[bg]=Файлов мениджър с два панела и администраторски права
Comment[ca]=Gestor de fitxers de doble plafó amb privilegis de root
Comment[ca@valencia]=Gestor de fitxers de doble plafó amb privilegis de root
Comment[cs]=Dvoupanelový správce souborů s právy uživatele root
Comment[da]=Filhåntering med dobbeltpanel og root-rettigheder
Comment[de]=Dateiverwaltungsprogramm mit einer zweispaltigen Ansicht mit Systemverwalterrechten
Comment[el]=Διαχειριστής αρχείων διπλού πίνακα με προνόμια διαχειριστή
Comment[en_GB]=Twin-Panel File Manager with root-privileges
Comment[es]=Panel gemelo de gestor de archivos con privilegios de Superusuario
Comment[et]=Kahe paneeliga failihaldur administraatori õigustes
Comment[fi]=Kaksipaneelinen tiedostonhallinta pääkäyttäjän oikeuksilla
Comment[fr]=Gestionnaire de fichiers à deux panneaux avec les privilèges de superutilisateur
Comment[hr]=Upravitelj datoteka s dvojnim panelom i administratorskim pravima
Comment[hu]=Kétpaneles fájlkezelő rendszergazda jogosultságokkal
Comment[it]=Gestore di file a pannello doppio con privilegi di root
Comment[nb]=Filbehandler med to paneler, med root-privilegier
Comment[nds]=Dubbelpaneel-Dateipleger mit Systeemplegerverlöven
Comment[nl]=Bestandsbeheerder met twee vensters in root-modus
Comment[pa]=ਰੂਟ-ਅਧਿਕਾਰਾਂ ਦੇ ਨਾਲ ਦੋ-ਬਾਹੀ ਫਾਇਲ ਮੈਨੇਜਰ
Comment[pl]=Menadżer plików bliźniaczych paneli z uprawnieniami administratora
Comment[pt]=Gestor de ficheiros de painéis duplos com privilégios de 'root'
Comment[pt_BR]=Gerenciador de arquivos de dois painéis com privilégios de root
Comment[ru]=Двухпанельный диспетчер файлов с правами «root»
Comment[sk]=Dvojpanelový správca súborov s právami správcu
Comment[sl]=Upravljalnik datotek z dvema pultoma in skrbniškimi dovoljenji
Comment[sr]=Двопанелни менаџер фајлова са кореним овлашћењима
Comment[sr@ijekavian]=Двопанелни менаџер фајлова са кореним овлашћењима
Comment[sr@ijekavianlatin]=Dvopanelni menadžer fajlova sa korenim ovlašćenjima
Comment[sr@latin]=Dvopanelni menadžer fajlova sa korenim ovlašćenjima
Comment[sv]=Filhanterare med två paneler i administratörsläge
Comment[tr]=Yönetici Kipinde İkiz Panelli Dosya Yönetici
Comment[uk]=Двопанельний менеджер файлів з правами доступу адміністратора
Comment[x-test]=xxTwin-Panel File Manager with root-privilegesxx
Comment[zh_CN]=超级用户模式的双面板文件管理器
Comment[zh_TW]=雙面板檔案管理員，有 root 權限
GenericName=File Manager
GenericName[bg]=Файлов мениджър
GenericName[ca]=Gestor de fitxers
GenericName[ca@valencia]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_GB]=File Manager
GenericName[eo]=Dosieradministrilo
GenericName[es]=Gestor de archivos
GenericName[et]=Failihaldur
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[ga]=Bainisteoir Comhad
GenericName[hr]=Upravitelj datoteka
GenericName[hu]=Fájlkezelő
GenericName[it]=Gestore dei file
GenericName[nb]=Filbehandler
GenericName[nds]=Dateipleger
GenericName[nl]=Bestandsbeheerder
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menadżer plików
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Gestionar de fișiere
GenericName[ru]=Менеджер файлов
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sr]=Менаџер фајлова
GenericName[sr@ijekavian]=Менаџер фајлова
GenericName[sr@ijekavianlatin]=Menadžer fajlova
GenericName[sr@latin]=Menadžer fajlova
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yönetici
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理員
