[Desktop Entry]
Encoding=UTF-8
Name=Krusader - root-mode
Name[uk]=Krusader — режим адміністратора
Exec=krusader -caption "%c" %i %m
Icon=krusader_root.png
Terminal=false
Type=Application
DocPath=krusader/index.html
Categories=Qt;KDE;System;
OnlyShowIn=KDE;
X-KDE-SubstituteUID=true
X-KDE-Username=root
Comment=Twin-Panel File Manager with root-privileges
Comment[uk]=Двопанельний менеджер файлів з правами доступу адміністратора
GenericName=File Manager
GenericName[uk]=Менеджер файлів
