[Desktop Entry]
Name=Krusader
Exec=krusader -caption "%c" %i
Icon=krusader_user
Terminal=false
Type=Application
X-DocPath=krusader/index.html
Categories=FileManager;Utility;Qt;KDE;
Comment=Twin-Panel File Manager
Comment[et]=Kahe paneeliga failihaldur
Comment[pt_BR]=Gerenciador de arquivos de painel gêmeo
Comment[sv]=Filhanterare med två paneler
Comment[tr]=İkiz Görünümlü Dosya Yöneticisi
Comment[uk]=Двопанельний менеджер файлів
Comment[zh_TW]=雙面板的檔案管理員
GenericName=File Manager
GenericName[et]=Failihaldur
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivo
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yönetici
GenericName[uk]=Менеджер файлів
GenericName[zh_TW]=檔案管理員
