[Desktop Entry]
Encoding=UTF-8
Name=Krusader
Exec=krusader -caption "%c" %i %m  
Icon=krusader_user.png
Terminal=false
Type=Application
DocPath=krusader/index.html
Categories=FileManager;Utility;Qt;KDE;
Comment=Twin-Panel File Manager
Comment[hu]=Kétpaneles fájlkezelő
Comment[de]=Zwei-Fenster Dateimanager
Comment[cs]=Dvojpanelový správce souborů
GenericName=File Manager
GenericName[af]=Lêer Bestuurder
GenericName[ar]=مدير الملفات
GenericName[az]=Fayl İdarəcisi
GenericName[be]=Мэнэджэр файлаў
GenericName[bg]=Файлов браузър
GenericName[bn]=ফাইল ম্যানেজার
GenericName[br]=Merour restroù
GenericName[bs]=Upravitelj datotekama
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[cy]=Rheolydd Ffeiliau
GenericName[da]=Filhåndtering
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[eo]=Dosieradministrilo
GenericName[es]=Administrador de archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi Kudeatzailea
GenericName[fa]=مدیر پرونده
GenericName[fi]=Tiedostonhallinta
GenericName[fo]=Fíluhandfarari
GenericName[fr]=Gestionnaire de fichiers
GenericName[ga]=Bainisteoir Chomhad
GenericName[gl]=Xestor de Ficheiros
GenericName[he]=מנהל הקבצים
GenericName[hi]=फ़ाइल प्रबंधक
GenericName[hr]=Upravitelj datotekama
GenericName[hsb]=Rjadowar datajow
GenericName[hu]=Fájlkezelő
GenericName[id]=Manajer File
GenericName[is]=Skráastjóri
GenericName[it]=File manager
GenericName[ja]=ファイルマネージャ
GenericName[ko]=파일 관리자
GenericName[lo]=ເຄື່ອງມືການຈັດການແຟ້ມ
GenericName[lt]=Bylų Tvarkyklė
GenericName[lv]=Failu Menedžeris
GenericName[mk]=Менаџер на датотеки
GenericName[mn]=Файл удирдагч
GenericName[ms]=Pengurus Fail
GenericName[mt]=Manager tal-Fajls
GenericName[nb]=Filbehandler
GenericName[nds]=Dateimanager
GenericName[nl]=Bestandsbeheerder
GenericName[nn]=Filbehandlar
GenericName[nso]=Molaodi wa Faele
GenericName[oc]=Gestionari de fiquièrs
GenericName[pl]=Menedżer plików
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ro]=Managerul de fişiere
GenericName[ru]=Файловый менеджер
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sr]=Менаџер фајлова
GenericName[sr@Latn]=Menadžer fajlova
GenericName[ss]=Siphatsi selifayela
GenericName[sv]=Filhanterare
GenericName[ta]=கோப்பு மேலாளர்
GenericName[tg]=Мудири файл
GenericName[th]=เครื่องมือจัดการแฟ้ม
GenericName[tr]=Dosya Yöneticisi
GenericName[uk]=Менеджер файлів
GenericName[uz]=Файл бошқарувчиси
GenericName[ven]=Mulanguli wa faela
GenericName[vi]=Trình quản lí file
GenericName[wa]=Manaedjeu di fitchîs
GenericName[xh]=Umphathi Wefayile
GenericName[xx]=xxFile Managerxx
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理程式
GenericName[zu]=imenenja yamafayela
