[Desktop Entry]
Name=Krusader - root-mode
Name[da]=Krusader (root-tilstand)
Name[et]=Krusader - administraatori õigustes
Name[fr]=Krusader - mode superutilisateur
Name[it]=Krusader - modalità root
Name[nb]=Krusader – root-modus
Name[nds]=Krusader - Systeempleegbedrief
Name[nl]=Krusader - root-mode
Name[pt]=Krusader - modo de 'root'
Name[pt_BR]=Krusader - modo root
Name[sv]=Krusader - Administratörsläge
Name[tr]=Krusader - yönetici kipi
Name[uk]=Krusader — режим адміністратора
Name[x-test]=xxKrusader - root-modexx
Name[zh_TW]=Krusader - root 模式
Exec=krusader -caption "%c" %i
Icon=krusader_root
Terminal=false
Type=Application
X-DocPath=krusader/index.html
Categories=Qt;KDE;System;
OnlyShowIn=KDE;
X-KDE-SubstituteUID=true
X-KDE-Username=root
Comment=Twin-Panel File Manager with root-privileges
Comment[da]=Filhåntering med dobbeltpanel og root-rettigheder
Comment[et]=Kahe paneeliga failihaldur administraatori õigustes
Comment[fr]=Gestionnaire de fichiers à deux panneaux avec les privilèges de superutilisateur
Comment[it]=Gestore di file a pannello doppio con privilegi di root
Comment[nb]=Filbehandler med to paneler, med root-privilegier
Comment[nds]=Dubbelpaneel-Dateipleger mit Systeemplegerverlöven
Comment[nl]=Bestandsbeheerder met twee vensters in root-modus
Comment[pt]=Gestor de ficheiros de painéis duplos com privilégios de 'root'
Comment[pt_BR]=Gerenciador de arquivos de dois painéis com privilégios de root
Comment[sv]=Filhanterare med två paneler i administratörsläge
Comment[tr]=Yönetici Kipinde İkiz Panelli Dosya Yönetici
Comment[uk]=Двопанельний менеджер файлів з правами доступу адміністратора
Comment[x-test]=xxTwin-Panel File Manager with root-privilegesxx
Comment[zh_TW]=雙面板檔案管理員，有 root 權限
GenericName=File Manager
GenericName[da]=Filhåndtering
GenericName[et]=Failihaldur
GenericName[fr]=Gestionnaire de fichiers
GenericName[it]=Gestore dei file
GenericName[nb]=Filbehandler
GenericName[nds]=Dateipleger
GenericName[nl]=Bestandsbeheerder
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yönetici
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
GenericName[zh_TW]=檔案管理員
