[Shortcuts]
F10_Quit=F10
F9_Terminal=F9
F3_View=F3
F4_Edit=F4
F5_Copy=F5
F6_Move=F6
F7_Mkdir=F7
F8_Delete=F8
F2_Rename=F2
JS_Console=Alt+Ctrl+J
Popular_Urls=Ctrl+Z
all files=Shift+F10
ar_pack=none
ar_unpack=none
back=none
bookmark current=Ctrl+Shift+D
bookmarks=Ctrl+D
calculate=none
close tab=Ctrl+W
cmdline popup=Ctrl+Slash
combine=Ctrl+B
compare=none
compare dirs=none
create checksum=none
custom files=Shift+F12
decrypt_with_kgpg=none
dirUp=Ctrl+PageUp
disk usage=Alt+D
duplicate tab=Alt+Ctrl+Shift+N
edit_new_file=Shift+F4
filename_to_clipboard=none
find=Ctrl+S
ftp disconnect=Ctrl+Shift+F
ftp new connection=Ctrl+N
help_about_app=none
help_about_kde=none
help_contents=F1
help_report_bug=none
help_whats_this=Shift+F1
history=Ctrl+H
invert=Alt+Asterisk
jump_back=Ctrl+J
konfigurator=none
left bookmarks=Alt+Left
left history=Alt+Ctrl+Left
left media=Ctrl+Shift+Left
locate=Ctrl+Shift+L
location_bar=Ctrl+L
manage useractions=none
match checksum=none
media=Ctrl+M
mountman=Alt+Slash
multirename=Shift+F2
new symlink=Alt+Ctrl+S
new tab=Alt+Ctrl+N
next tab=Shift+Right
pack=Alt+P
previous tab=Shift+Left
profile=Alt+L
properties=Alt+KP_Enter
right bookmarks=Alt+Right
right history=Alt+Ctrl+Right
right media=Ctrl+Shift+Right
rightclick menu=Menu
root=Ctrl+Backspace
root krusader=Alt+K
sample_edit_as_root=none
sample_newmount=none
sample_panesize=none
save position=none
select all=Alt+Plus
select group=Ctrl+Plus
select_different=none
select_different_and_single=none
select_newer=none
select_newer_and_single=none
select_single=none
set_jump_back=Ctrl+Shift+J
sort_by_extension=none
sort_by_modified=none
sort_by_name=none
sort_by_size=none
split=Ctrl+P
std_config_keys=none
std_config_toolbar=none
std_copy=Ctrl+C;Ctrl+Insert
std_cut=Ctrl+X;Shift+Delete
std_home=Ctrl+Home;XF86HomePage
std_paste=Ctrl+V;Shift+Insert
std_quit=Ctrl+Q
std_redisplay=Ctrl+R
std_statusbar=none
std_toolbar=none
swap panels=Ctrl+U
switch_fullscreen_te=Ctrl+F
sync browse=Alt+Y
sync dirs=Ctrl+Y
sync panels=Alt+O
terminal@home=none
test archives=Alt+E
toggle actions toolbar=none
toggle command line=none
toggle fn bar=none
toggle hidden files=Ctrl+Period
toggle popup panel=Alt+Down
toggle swap sides=Ctrl+Shift+U
toggle terminal emulator=Alt+Ctrl+T
toggle vertical mode=Alt+Ctrl+R
unpack=Alt+U
unselect all=Alt+Minus
unselect group=Ctrl+Minus
