[Desktop Entry]
Name=Ace archive
Comment=ACE archive
Comment[sv]=ACE-arkiv
Comment[uk]=Архів ACE
Comment[zh_TW]=ACE 歸檔
Hidden=false
Icon=application-x-ace
MimeType=application/x-ace;
Patterns=*.ace;*.ACE;
Type=MimeType
