[Desktop Entry]
Comment=ACE archive
Comment[sv]=ACE-arkiv
Comment[uk]=Архів ACE
Comment[zh_TW]=ACE 歸檔
Hidden=false
Icon=tgz
MimeType=application/x-ace
Patterns=*.ace;*.ACE
Type=MimeType
