[Desktop Entry]
Name=Ace archive
Name[ca]=Arxiu Ace
Name[ca@valencia]=Arxiu Ace
Name[cs]=Archiv Ace
Name[da]=ACE-arkiv
Name[de]=Ace-Archiv
Name[en_GB]=Ace archive
Name[es]=Archivo Ace
Name[et]=Ace arhiiv
Name[fr]=Archive Ace
Name[hr]=Ace arhiva
Name[hu]=Ace archívum
Name[it]=Archivio Ace
Name[nb]=Ace-arkiv
Name[nds]=ACE-Archiev
Name[nl]=Ace-archief
Name[pt]=Pacote ACE
Name[pt_BR]=Arquivo ACE
Name[ro]=Arhivă Ace
Name[ru]=архив Ace
Name[sv]=ACE-arkiv
Name[tr]=Ace arşivi
Name[uk]=Архів ACE
Name[x-test]=xxAce archivexx
Name[zh_CN]=Ace 归档
Name[zh_TW]=Ace 歸檔
Comment=ACE archive
Comment[ca]=Arxiu ACE
Comment[ca@valencia]=Arxiu ACE
Comment[cs]=Archiv ACE
Comment[da]=ACE-arkiv
Comment[de]=ACE-Archiv
Comment[en_GB]=ACE archive
Comment[es]=Archivo ACE
Comment[et]=ACE arhiiv
Comment[fr]=Archive ACE
Comment[hr]=ACE arhiva
Comment[hu]=ACE archívum
Comment[it]=Archivio ACE
Comment[nb]=ACE-arkiv
Comment[nds]=ACE-Archiev
Comment[nl]=ACE archief
Comment[pt]=Pacote ACE
Comment[pt_BR]=Arquivo ACE
Comment[ro]=Arhivă ACE
Comment[ru]=архив ACE
Comment[sv]=ACE-arkiv
Comment[tr]=ACE arşivi
Comment[uk]=Архів ACE
Comment[x-test]=xxACE archivexx
Comment[zh_CN]=ACE 归档
Comment[zh_TW]=ACE 歸檔
Hidden=false
Icon=application-x-ace
MimeType=application/x-ace;
Patterns=*.ace;*.ACE;
Type=MimeType
