[Desktop Entry]
Actions=OpenISO;
X-KDE-ServiceTypes=inode/blockdevice,application/x-iso
Name=ISO9660 View
Name[da]=ISO9660-visning
Name[de]=ISO9660-Ansicht
Name[en_GB]=ISO9660 View
Name[et]=ISO9660 vaade
Name[fr]=Vue ISO9660
Name[it]=Vista ISO9660
Name[nb]=ISO9660-visning
Name[nds]=ISO-9660-Ansicht
Name[nl]=ISO9660-beeld
Name[pt]=Vista do ISO9660
Name[pt_BR]=Visualização ISO9660
Name[ru]=Просмотр ISO9660
Name[sv]=Visa ISO9660
Name[tr]=ISO9660 Görünümü
Name[uk]=Перегляд ISO9660
Name[x-test]=xxISO9660 Viewxx
Name[zh_TW]=ISO9660 檢視

[Desktop Action OpenISO]
Comment=ISO9660 View
Comment[da]=ISO9660-visning
Comment[de]=ISO9660-Ansicht
Comment[en_GB]=ISO9660 View
Comment[et]=ISO9660 vaade
Comment[fr]=Vue ISO9660
Comment[it]=Vista ISO9660
Comment[nb]=ISO9660-visning
Comment[nds]=ISO-9660-Ansicht
Comment[nl]=ISO9660-beeld
Comment[pt]=Vista do ISO9660
Comment[pt_BR]=Visualização ISO9660
Comment[ru]=Просмотр ISO9660
Comment[sv]=Visa ISO9660
Comment[tr]=ISO9660 Görünümü
Comment[uk]=Перегляд ISO9660
Comment[x-test]=xxISO9660 Viewxx
Comment[zh_TW]=ISO9660 檢視
Icon=cd
Name=ISO9660 View
Name[da]=ISO9660-visning
Name[de]=ISO9660-Ansicht
Name[en_GB]=ISO9660 View
Name[et]=ISO9660 vaade
Name[fr]=Vue ISO9660
Name[it]=Vista ISO9660
Name[nb]=ISO9660-visning
Name[nds]=ISO-9660-Ansicht
Name[nl]=ISO9660-beeld
Name[pt]=Vista do ISO9660
Name[pt_BR]=Visualização ISO9660
Name[ru]=Просмотр ISO9660
Name[sv]=Visa ISO9660
Name[tr]=ISO9660 Görünümü
Name[uk]=Перегляд ISO9660
Name[x-test]=xxISO9660 Viewxx
Name[zh_TW]=ISO9660 檢視
Exec=kfmclient exec iso:%f
